<div id="loginModal" class="modal auth-modal">
  <div class="modal-content">
    <span class="close">&times;</span>

    <form class="login-form" action="{{ url_for('login') }}" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" required>
      <label for="password">Password:</label>
      <input type="password" name="password" required>
      <button type="submit">Login</button>
    </form>

    <p style="text-align: center; margin-top: 10px;">
      Don’t have an account? 
      <a href="#" id="openSignupLink">Create one</a>
    </p>
  </div>
</div>
